@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*,::after,::before{margin: 0;padding: 0;box-sizing: border-box;}
a{text-decoration: none;}
li{list-style: none;}
.flex{display: flex; }
.justify-content{justify-content: space-between;}
.align-items{align-items: center;}
img{ vertical-align: bottom; width: 100%; height: auto; }
button{cursor: pointer;padding: 0;}
.flex-resp{ display: flex; flex-flow: row wrap; }

html{ font-size: 15px; --yel:#ffc200;--ff:"Montserrat", sans-serif; }
body{font-family: var(--ff);}

.container-full{max-width: 100%;padding: 0 1rem; margin: auto;}
.container-large{max-width: 1400px;padding: 0 1rem; margin: auto;}
.container{max-width: 1200px; padding: 0 1rem; margin: auto;}
.row{display: flex; flex-flow: row wrap;margin: 0 -1rem;color:#fff;}

@font-face {
    font-family: myriad;
    src: url(../fonts/MYRIADPRO-REGULAR.OTF);
}

@font-face {
    font-family: grandhotel;
    src: url(../fonts/GrandHotel-Regular.ttf);
}

.banner{background: url(../img/banner-img.webp) no-repeat;background-size: cover; width:100%;}
header{background: #000; position: fixed; width: 100%;}
header span.fa-cutlery{margin-top: 1rem;}
header .logo .fa-cutlery{color: #fff; font-size: 23.58px;}
header .logo h1{font-size: 23.58px; font-weight: 400;font-family: myraid; margin-left: 9px; margin-top: 1rem;}

.checkbtn{float: right; display: none;}
#check{float: right; display: none;}
#check:checked + ul.flex{display: block;position: absolute;float: right; right: 3rem;top: 7rem;background:rgba(54, 53, 53, 0.5);}

/* header .logo_nav{padding-top: 3.8rem;} */
nav .flex .material-icons{color: #fff; font-size: 25px; font-weight: 400; margin-top: 1.1rem;}
header nav .flex{gap: 25px;}
nav .flex li a{margin: 1rem 0 1rem 0; display: inline-block;}



nav .flex ul li{margin: 0 5px;}
nav .flex a{color: #fff; padding: 0 1rem; font: 400 25px var(--ff);}

.banner .banner-content h2{font-family: grandhotel; color:var(--yel); margin-top: 8rem; font-size: 7rem;}

.banner .banner-content p{font-family: var(--ff); font-size: 29.72px; font-weight: 400;}
.banner .banner-content .banner-btn-order{background: var(--yel);color: #333333; font-family: var(--ff);font-size: 19.23px;font-weight: 70;border: none;padding: 20px 57px 17px 57px; margin-top: 3rem; margin-bottom: 232px; font-weight: 700;}

.wrap-1 h2{font-size: 4.10rem;font-weight: 400;font-family: grandhotel;color: #333333;text-align: center;margin-top: 135px;}
.wrap-1 p{font-size: 25.23px;font-weight: 400;font-family: var(--ff);color: #5c5c5c;text-align: center;margin-top: 2rem;margin-bottom: 5rem;}
.wrap-1 .img-1{height: 240px;width: 240px; margin-left: 4rem;}
.wrap-1 .imgs-1{margin-bottom: 14rem;}
.wrap-1 .imgs-1 h3{font-size: 41.67px;font-weight: 400;font-family: grandhotel;color: #333333;text-align: center; margin-top: 1rem;}
.wrap-1 .imgs-1 p{font-size: 16.85px;font-weight: 400;font-family: var(--ff);color: #5c5c5c;}

.wrap-2{background: url(../img/middle-img-1.webp) no-repeat;background-size: cover; width:100%; min-height: 100vb;}

.wrap-2-content{margin-top: 10rem;}
.wrap-2 h2{color: #ffc200;  font-family: grandhotel; font-size: 7rem; }
.wrap-2 .wrap-2-content p{color: #c8c8c8;font-family: var(--ff); font-size: 29.72px; font-weight: 400;}

.wrap-2 .wrap-2-content-button{background: var(--yel);color: #333333; font-family: var(--ff);font-size: 30px;font-weight: 700;border: none;padding: 20px 57px 17px 57px; width: 330px; height: 70px; margin-right: 70px; margin-top: 3rem;}


.wrap-3{background: url(../img/circle-1.webp) no-repeat; background-size: cover; width: 100%; min-height: 100vh; padding-top: 3rem;}
.wrap-3 .wrap-3-containt{ text-align: center; width: 100%;}
.wrap-3 h2{color: var(--yel); font-family:grandhotel; font-size: 7rem;}
.wrap-3 p{color: #f1f1f1;  font-size: 25.72px;text-align: center;}
.wrap-3 .circle{margin-top: 6rem;}
.wrap-3 .outlets{height: 210px; width: 200px; border-radius: 50%; border: 5px solid #ffffff; padding-top: 4rem;}
.wrap-3 .outlets h3{color: var(--yel); font-size: 4rem;}
.wrap-3 .country{margin-bottom: 35rem;}

.wrap-4{background: url(../img/chicken-2.webp) no-repeat; background-size: cover; width: 100%; min-height: 100vh }
.wrap-4 h2{color: var(--yel); font-family:grandhotel; font-size: 7rem;margin-top: 30rem; margin-bottom: 2rem;}
.wrap-4 p{color: #f1f1f1;  font-size: 25.72px; margin-bottom: 5rem;}
.wrap-4 .wrap-4-content-button{background: var(--yel);color: #333333; font-family: var(--ff);font-size: 30px;font-weight: 700;border: none;padding: 20px 57px 17px 57px; width: 330px; height: 70px; margin-right: 70px; margin-bottom: 20rem;}

.wrap-5{background: url(../img/yellow-6.webp)no-repeat; background-size: cover; width: 100%; min-height: 100vh;}
.wrap-5 p{margin-top: 30rem;  font-size: 25.72px; color: #333333;}
.wrap-5 h4{text-align: center; font-family:grandhotel; font-size: 7rem; color: #333333; margin-bottom: 276px; margin-top: 4rem;}


.wrap-6{background: url(../img/white-1.webp)no-repeat;background-size: cover; width: 100%; min-height: 100vh;}
.wrap-6 h2{ font-family:grandhotel; font-size: 7rem;margin-top: 10rem; color: #333333; margin-left: 10rem;}
.wrap-6 p{color: #333333;  font-size: 25.72px; margin-bottom: 6rem; margin-top: 4rem;}
.wrap-6 .wrap-6-input{ height: 4.6rem; background: #fff; border: 5px solid #fff; font-size: 25.72px; padding-left: 4rem;}
.wrap-6 input::placeholder{color: #333333}
.wrap-6 .wrap-6-content-button{width: 222px; height: 5rem; background:var(--yel); border: 5px solid var(--yel); border-radius: 5px; font-size: 25.72px; font-weight: 700;}


.wrap-7{background: url(../img/last-2.webp)no-repeat; background-size: cover; width: 100%; min-height: 100vh;}
.wrap-7 h3{margin-top: 20rem; margin-bottom: 3rem; font-weight: 700; font-family: var(--ff);font-size: 2rem;}
.wrap-7 p{font-size: 25.72px; margin-bottom: 2.5rem; }
.wrap-7 .title{margin-left: 3rem;}
.wrap-7 .about{margin-left: 8rem;}
.wrap-7 .other{margin-bottom: 29rem;}




[class^="col-"]{ flex: 1 0 auto; padding: 0 1rem}
.col-1{flex-basis: 8.33%;max-width: 8.33%;}
.col-2{flex-basis: 16.66%; max-width: 16.66%;}
.col-3{flex-basis: 25%; max-width: 25%;}
.col-4{flex-basis: 33.33%; max-width: 33.33%;}
.col-5{flex-basis:41.66%; max-width: 41.66%;}
.col-6{flex-basis:50%; max-width: 50%;}
.col-7{flex-basis:58.33% ; max-width: 58.33%;}
.col-8{flex-basis: 66.66%; max-width: 66.66%;}
.col-9{flex-basis:75%; max-width: 75%;}
.col-10{flex-basis:83.33%; max-width: 83.33%;}
.col-11{flex-basis:91.66%; max-width: 91.66%;}
.col-12{flex-basis:100%; max-width: 100%;}




/*Landscape*/
@media screen and (max-width:1281px){
    html{font-size: 14px;}
    .banner nav ul.flex{display: none}
    nav{justify-content: end;}
    .checkbtn{display:block;}
    #check:checked + ul.flex{display: block;}

}

/*potrait tablet*/
@media screen and (max-width:980px){
    .col-t-1{flex-basis: 8.33%;max-width: 8.33%;}
    .col-t-2{flex-basis: 16.66%;  max-width: 16.66%;}
    .col-t-3{flex-basis: 25%;  max-width: 25%;}
    .col-t-4{flex-basis: 33.33%;  max-width: 33.33%;}
    .col-t-5{flex-basis:41.66% ;  max-width: 41.66%;}
    .col-t-6{flex-basis:50% ;  max-width: 50%;}
    .col-t-7{flex-basis:58.33% ;  max-width: 58.33%;}
    .col-t-8{flex-basis: 66.66%;;  max-width: 66.66%;}
    .col-t-9{flex-basis:75% ;  max-width: 75%;}
    .col-t-10{flex-basis:83.33% ; max-width: 83.33%;}
    .col-t-11{flex-basis:91.66% ; max-width: 91.66%;}
    .col-t-12{flex-basis:100% ;  max-width: 100%;}

    
    nav{justify-content: end;}
    header nav .flex{display: none}
    
    header .logo h1{margin-bottom: 1rem; }
    header span.fa-cutlery{margin-top: 1rem; margin-bottom: 1rem;}

    header svg{margin-top: 1rem;}
    .checkbtn{display: block;}
    .banner .banner-content h2{margin-top: 4rem; font-size:4rem;}
    #check:checked + ul.flex{display: block;}
    .banner .banner-content p{ font-size: 1.5rem;}
    .banner .banner-content .banner-btn-order{font-size: 1rem; padding:20px 57px 17px 57px; }

    .wrap-1 .imgs-1{display: grid;place-items:center;}
    .wrap-1 .imgs-1 h3{margin-left: 4rem;}
    .wrap-2-content{margin-top: 100px;}
    .wrap-2-content-button{margin-bottom: 6rem;}
    .wrap-2{background: #303030;}
    .wrap-3{background: #303030;}
    .wrap-3 h3 p{margin-bottom: 50%;}
    .wrap-3 p{margin-bottom: 10%;}
    .wrap-3 .outlets{margin-bottom: 5rem; margin-left: 2rem;}

    .wrap-6 h2{margin-left: 0;}
    .wrap-6 .wrap-6-content-button{margin-top: 5rem;}

    .wrap-7 .about{margin-left: 0;}
    .wrap-7 .title{margin-left: 0;}







    
    
}

/*landscape tablet*/
@media screen and (max-width:768px){
 html{font-size: 13px;}
 
 header .logo h1{margin-bottom: 1rem; }
 header svg{margin-top: 1rem;}

}


/*potrait phone*/
@media screen and (max-width:460px){
    .col-p-1{flex-basis: 8.33%;max-width: 8.33%;}
    .col-p-2{flex-basis: 16.66%;  max-width: 16.66%;}
    .col-p-3{flex-basis: 25%;  max-width: 25%;}
    .col-p-4{flex-basis: 33.33%;  max-width: 33.33%;}
    .col-p-5{flex-basis:41.66% ;  max-width: 41.66%;}
    .col-p-6{flex-basis:50% ;  max-width: 50%;}
    .col-p-7{flex-basis:58.33% ;  max-width: 58.33%;}
    .col-p-8{flex-basis: 66.66%;;  max-width: 66.66%;}
    .col-p-9{flex-basis:75% ;  max-width: 75%;}
    .col-p-10{flex-basis:83.33% ;  max-width: 83.33%;}
    .col-p-11{flex-basis:91.66% ;  max-width: 91.66%;}
    .col-p-12{flex-basis:100% ;  max-width: 100%;}

    .banner .logo{display: block; display: flex;}
    nav{justify-content: end;}
    .checkbtn{display:block;}
    #check:checked + ul.flex{display: block;}

    header .logo h1{margin-bottom: 1rem; }
    header svg{margin-top: 1rem;}
    header span.fa-cutlery{margin-bottom: 1rem;}


    .wrap-1 .img-1{display: grid;place-items:center;margin-right: 4rem;}
    .wrap-1 .imgs-1{margin-left: 0; margin-right: 0;}
    .wrap-1 .imgs-1 p{margin-right: 2rem;}
    .wrap-2 h2{font-size: 3rem;}
    .wrap-2 .wrap-2-content-button{font-size: 20px; height: 70px; width: 280px;}
    .wrap-3 h2{font-size: 3rem;}
    .wrap-4 h2{font-size: 3rem;}
    .wrap-4 .wrap-4-content-button{font-size: 20px; height: 70px; width: 280px;}
    .wrap-5 h4{font-size: 3rem;}
    .wrap-3 .outlets{height: 200px; width: 200px; padding-bottom: 20%; margin-left: 6rem;}
    .wrap-6 h2{margin-left: 0; margin-right: 3rem; font-size: 3rem;}
    
    .wrap-6 .wrap-6-content-button{margin-top: 5rem;}
    /* .wrap-6 .wrap-6-input{width: ;} */
}

